<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<section class="main-content columns is-fullheight">
  <div class="column is-2 is-narrow-mobile is-fullheight is-hidden-mobile section has-background-light">	
      <aside class="menu sticky">	
        <ul class="menu-list has-text-left is-size-5">
          <li><a>Add</a></li>
          <li><a>Select</a></li>
        </ul>
      </aside>
    </div>
  </div>
  <div class="column is-light">
      <p  class="menu-label"><b>Quick Links</b></p>
      <ul id="menu" class="menu-list">
        <li><a href="#basic">Basic SEO Checklist</a></li>
        <li><a href="#keyword">Keyword Research Checklist</a></li>
        <li><a href="#onpage">On-Page SEO Checklist</a></li>
        <li><a href="#content">Content Checklist</a></li>
        <li><a href="#technical">Technical SEO Checklist</a></li>
        <li><a href="#link">Link Building Checklist</a></li>
      </ul>
      <p  class="menu-label"><b>Quick Links</b></p>
      <ul id="menu" class="menu-list">
        <li><a href="#basic">Basic SEO Checklist</a></li>
        <li><a href="#keyword">Keyword Research Checklist</a></li>
        <li><a href="#onpage">On-Page SEO Checklist</a></li>
        <li><a href="#content">Content Checklist</a></li>
        <li><a href="#technical">Technical SEO Checklist</a></li>
        <li><a href="#link">Link Building Checklist</a></li>
      </ul>
      <p  class="menu-label"><b>Quick Links</b></p>
      <ul id="menu" class="menu-list">
        <li><a href="#basic">Basic SEO Checklist</a></li>
        <li><a href="#keyword">Keyword Research Checklist</a></li>
        <li><a href="#onpage">On-Page SEO Checklist</a></li>
        <li><a href="#content">Content Checklist</a></li>
        <li><a href="#technical">Technical SEO Checklist</a></li>
        <li><a href="#link">Link Building Checklist</a></li>
      </ul>
      <p  class="menu-label"><b>Quick Links</b></p>
      <ul id="menu" class="menu-list">
        <li><a href="#basic">Basic SEO Checklist</a></li>
        <li><a href="#keyword">Keyword Research Checklist</a></li>
        <li><a href="#onpage">On-Page SEO Checklist</a></li>
        <li><a href="#content">Content Checklist</a></li>
        <li><a href="#technical">Technical SEO Checklist</a></li>
        <li><a href="#link">Link Building Checklist</a></li>
      </ul>
      <p  class="menu-label"><b>Quick Links</b></p>
      <ul id="menu" class="menu-list">
        <li><a href="#basic">Basic SEO Checklist</a></li>
        <li><a href="#keyword">Keyword Research Checklist</a></li>
        <li><a href="#onpage">On-Page SEO Checklist</a></li>
        <li><a href="#content">Content Checklist</a></li>
        <li><a href="#technical">Technical SEO Checklist</a></li>
        <li><a href="#link">Link Building Checklist</a></li>
      </ul>
      <p  class="menu-label"><b>Quick Links</b></p>
      <ul id="menu" class="menu-list">
        <li><a href="#basic">Basic SEO Checklist</a></li>
        <li><a href="#keyword">Keyword Research Checklist</a></li>
        <li><a href="#onpage">On-Page SEO Checklist</a></li>
        <li><a href="#content">Content Checklist</a></li>
        <li><a href="#technical">Technical SEO Checklist</a></li>
        <li><a href="#link">Link Building Checklist</a></li>
      </ul>
  </div>
</section>
{% endblock %}